@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(59, 86, 118);
}

body {
  background-color: var(--foreground-rgb);
}

h1 {
  font-size: 150%;
  text-align: center;
}

h2 {
  font-size: 125%;
}

h1, h2, h3 {
  color: white;
}
